@import url("https://fonts.google.com/specimen/Poppins");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  background-color: #f2f9fe;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 720px) {
  main {
    flex-direction: row;
  }
}
